@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  .h-200 {
    height: 200px;
  }
  
  .animate-marquee {
    animation: marquee 10s linear infinite;
  }

  .slide-in {
    transition: transform 0.5s ease-out;
    transform: translateX(0);
  }
  
  .slide-out {
    transform: translateX(100%);
  }
  